page-login {
    form {
        margin-top: 50px;
    }
    .warning {
        text-align: center;
        border-radius: 10px;
        font-size: 16px;

        a {
            font-weight: bold;
            font-size: 120%;
        }
    }
}
